### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
print('Total Number of Players: ' + str(len(purchase_data['SN'].unique())))

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [123]:
unique_items = len(purchase_data['Item ID'].unique())
avg_price = purchase_data['Price'].mean()
num_purch = purchase_data['Purchase ID'].count()
revenue = purchase_data['Price'].sum()

purch_analy_df = pd.DataFrame({'Number of Unique Items': unique_items, 
                               'Average Purchase Price': avg_price,
                              'Total Number of Purchases': num_purch,
                              'Total Revernue': revenue}, index = [''])
purch_analy_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revernue
,179,3.050987,780,2379.77

## Gender Demographics

In [4]:
male_total = len(purchase_data.loc[purchase_data['Gender']=='Male', 'SN'].unique())
female_total = len(purchase_data.loc[purchase_data['Gender']=='Female', 'SN'].unique())
other_total = len(purchase_data.loc[purchase_data['Gender']=='Other / Non-Disclosed', 'SN'].unique())
total = male_total + female_total + other_total

print(f'Male Players: {male_total} ({(male_total/total)*100:.4}%)\nFemale Players: {female_total} ({(female_total/total)*100:.4}%) \nOther/Non-Disclosed: {other_total} ({(other_total/total)*100:.4}%)')

Male Players: 484 (84.03%)
Female Players: 81 (14.06%)
Other/Non-Disclosed: 11 (1.91%)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [118]:
grouped_gender = purchase_data.groupby('Gender')
Gender=['Male','Female', 'Other / Non-Disclosed']
total_df = pd.Series([male_total,female_total,other_total], index = Gender)



purch_count= grouped_gender['SN'].count()
avg_price = grouped_gender['Price'].mean()
tot_val = grouped_gender['Price'].sum()
avg_purch_total = tot_val/total_df

count_gender_df = count_gender_df.dropna(how='any')

summary_df = pd.DataFrame({'Purchase Count': purch_count,
                           'Average Purchase Price':avg_price,
                          'Total Purchase Value':tot_val,
                          'Average Purchase Total per Person':avg_purch_total}, index = Gender)
summary_df = summary_df.style.format({'Average Purchase Price':'${0:,.2f}',
                        'Total Purchase Value': '${0:,.2f}',
                        'Average Purchase Total per Person' : '${0:,.2f}'})
summary_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [125]:
age_bins = [0,9,14,19,24,29,34,39,purchase_data['Age'].max()]
age_labels = ['0-10','10-14', '15-19','20-24', '25-29', '30-34', '35-39', '40+']
purchase_data['Age Bin'] = pd.cut(purchase_data['Age'], bins = age_bins, labels = age_labels)
age_group_df = purchase_data.groupby('Age Bin')

total_players = age_group_df['SN'].count()
percent_players = age_group_df['Purchase ID'].count()/total_unique_players * 100

age_s_df = pd.DataFrame({'Total Players': total_players,
                        'Percentage': percent_players}, index = age_labels)
age_s_df = age_s_df.style.format({'Percentage':'{0:,.2f}%'})
age_s_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [124]:
age_bins = [0,9,14,19,24,29,34,39,purchase_data['Age'].max()]
age_labels = ['0-10','10-14', '15-19','20-24', '25-29', '30-34', '35-39', '40+']
purchase_data['Age Bin'] = pd.cut(purchase_data['Age'], bins = age_bins, labels = age_labels)
age_group_df = purchase_data.groupby('Age Bin')
Purch_count = age_group_df['Purchase ID'].count()
Purch_avg_price = age_group_df['Price'].mean()
Purch_total_price = age_group_df['Price'].sum()
Purch_tot_person = Purch_total_price/Purch_count

age_summary_df = pd.DataFrame({'Purchase Count': Purch_count,
                           'Average Purchase Price':Purch_avg_price,
                          'Total Purchase Value':Purch_total_price,
                          'Average Purchase Total per Person':Purch_tot_person}, index = age_labels)
age_summary_df = age_summary_df.style.format({'Average Purchase Price':'${0:,.2f}',
                        'Total Purchase Value': '${0:,.2f}',
                        'Average Purchase Total per Person' : '${0:,.2f}'})
age_summary_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80