### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
print('Total Number of Players: ' + str(len(purchase_data['SN'].unique())))

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data['Item ID'].unique()) #Number of Unique Items
avg_price = purchase_data['Price'].mean() 
num_purch = purchase_data['Purchase ID'].count() #Total Number of Purchases
revenue = purchase_data['Price'].sum() #Total Revenue

#Creating Dataframe with variable set above
purch_analy_df = pd.DataFrame({'Number of Unique Items': unique_items, 
                               'Average Purchase Price': avg_price,
                              'Total Number of Purchases': num_purch,
                              'Total Revernue': revenue}, index = [''])
purch_analy_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revernue
,179,3.050987,780,2379.77

## Gender Demographics

In [4]:
#Getting counts of unique users by Gender
male_total = len(purchase_data.loc[purchase_data['Gender']=='Male', 'SN'].unique())
female_total = len(purchase_data.loc[purchase_data['Gender']=='Female', 'SN'].unique())
other_total = len(purchase_data.loc[purchase_data['Gender']=='Other / Non-Disclosed', 'SN'].unique())
total = male_total + female_total + other_total #Creating Total Number of Unique Users

#Creating DataFrame
gender_df = pd.DataFrame({'Gender': ['Male', 'Female', 'Other / Non-Disclosed'],
                         'Count':[male_total, female_total, other_total],
                         'Percentage': [male_total/total* 100, female_total/total*100, other_total/total*100]})
#Formatting
gender_df = gender_df.style.format({'Percentage':'{0:,.2f} %'})
gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Setting General Data
grouped_gender = purchase_data.groupby('Gender')
Gender=['Male','Female', 'Other / Non-Disclosed'] #Common Index
total_df = pd.Series([male_total,female_total,other_total], index = Gender)


#Assiging certain series to use in dataframe
purch_count= grouped_gender['SN'].count()
avg_price = grouped_gender['Price'].mean()
tot_val = grouped_gender['Price'].sum()
avg_purch_total = tot_val/total_df #Using total unique player totals to find avg purchase total per person by gender


#Creating DataFrame
summary_df = pd.DataFrame({'Purchase Count': purch_count,
                           'Average Purchase Price':avg_price,
                          'Total Purchase Value':tot_val,
                          'Average Purchase Total per Person':avg_purch_total}, index = Gender)

#Formatting
summary_df = summary_df.style.format({'Average Purchase Price':'${0:,.2f}',
                        'Total Purchase Value': '${0:,.2f}',
                        'Average Purchase Total per Person' : '${0:,.2f}'})
summary_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#General Data, used below as well
age_bins = [0,9,14,19,24,29,34,39,purchase_data['Age'].max()] #Common Bin
age_labels = ['0-10','10-14', '15-19','20-24', '25-29', '30-34', '35-39', '40+'] #Common Index
purchase_data['Age Bin'] = pd.cut(purchase_data['Age'], bins = age_bins, labels = age_labels) #Cutting into Age Bins, Storing in New column in Dataframe
age_group_df = purchase_data.groupby('Age Bin') #Grouping By Age Bins

#Using Grouped Dataframe to store series into variables
total_players = age_group_df['SN'].count() 
percent_players = age_group_df['Purchase ID'].count()/total * 100

#Creating DataFrame
age_s_df = pd.DataFrame({'Total Players': total_players,
                        'Percentage': percent_players}, index = age_labels)

#Formatting
age_s_df = age_s_df.style.format({'Percentage':'{0:,.2f}%'})
age_s_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Using General Data from above

#Assigning Series to variables
Purch_count = age_group_df['Purchase ID'].count()
Purch_avg_price = age_group_df['Price'].mean()
Purch_total_price = age_group_df['Price'].sum()
Purch_tot_person = Purch_total_price/Purch_count

#Creating Dataframe
age_summary_df = pd.DataFrame({'Purchase Count': Purch_count,
                           'Average Purchase Price':Purch_avg_price,
                          'Total Purchase Value':Purch_total_price,
                          'Average Purchase Total per Person':Purch_tot_person}, index = age_labels)

#Formatting
age_summary_df = age_summary_df.style.format({'Average Purchase Price':'${0:,.2f}',
                        'Total Purchase Value': '${0:,.2f}',
                        'Average Purchase Total per Person' : '${0:,.2f}'})
age_summary_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
#Creating correctly sorted data
sn_group = purchase_data.groupby('SN') 
sorted_purchcount = sn_group.sum().sort_values('Price', ascending = False) #Sorting by Total Purchase, Highest First
sorted_purchcount = sorted_purchcount.reset_index() #Resetting index so we can use sorted SN series later

#Setting Correctly sorted series to variables
top_sn = sn_group['Purchase ID'].count().sort_values( ascending = False)
sn_purch_avg = sn_group['Price'].mean().sort_values(ascending=False)
sum_sn_group = sn_group['Price'].sum().sort_values(ascending = False)


#creating Dataframe
sn_df = pd.DataFrame({'Purchase Count': top_sn,
                     'Average Purchase Price': sn_purch_avg,
                     'Total Purchase Value': sum_sn_group }, index = sorted_purchcount['SN']) #using Sorted by Total Purchase Value SN order as index

#Formatting
sn_full_df = sn_df.style.format({'Average Purchase Price': '$ {0:,.2f}',
                           'Total Purchase Value': '$ {0:,.2f}'}) #Full Dataframe
sn_sum_df = sn_df.head(5).style.format({'Average Purchase Price': '$ {0:,.2f}',
                           'Total Purchase Value': '$ {0:,.2f}'}) #Top 5 Dataframe
sn_sum_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [72]:
item_group = purchase_data.groupby(['Item ID','Item Name'])
purchcount_sorted_item_df = item_group.count().sort_values('Purchase ID', ascending = False)
purchcount_sorted_item_df = purchcount_sorted_item_df.reset_index()
purch_count_item = item_group['Purchase ID'].count().sort_values( ascending = False)
item_total_val = item_group['Price'].sum()

item_price = item_total_val/purch_count_item

item_df = pd.DataFrame({'Purchase Count': purch_count_item,
                       'Item Price': item_price,
                       'Total Purchase Value': item_total_val})


item_df = item_df.sort_values('Purchase Count', ascending = False)
item_df.head().style.format({'Item Price':'$ {0:,.2f}',
                     'Total Purchase Value': '$ {0:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [73]:
#Same data as above, just sorted differently
item_df = item_df.sort_values('Total Purchase Value', ascending = False)
item_df.head().style.format({'Item Price':'$ {0:,.2f}',
                     'Total Purchase Value': '$ {0:,.2f}'})